@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5;
}

input:focus {
  outline: none;
}

:root {
  --font-inter: 'Inter', sans-serif;
  --font-aleo: 'Aleo', serif;
}
